html, body {
  margin: 0;
  height: 100%;
  background-color: #0b1220;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden; /* CLAVE */
}

h1 {
  height: 48px;
  line-height: 48px;
  margin: 0;
  text-align: center;
  background: #020617;
  border-bottom: 2px solid #1e293b;
  color: #03f52b;
}

/* GRID OCUPA SOLO EL RESTO DE LA PANTALLA */
.grid {
  height: calc(100vh - 48px);
  display: grid;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

iframe {
  width: 100%;
  height: 100%;   /* NO altura fija */
  border-radius: 6px;
  background: black;
  border: 1px solid #1e293b;
}

